@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  object-fit: cover;
}

main {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

h1, .logo__haeder, .logo-footer {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-left: 35px;
}

.logo-header {
  display: flex;
}
.logo-header .logo__restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.logo-header .logo__restaurant img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 200px;
  cursor: pointer;
}

.acceuil {
  box-shadow: 0px 5px 3px 1px rgb(207, 207, 207);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu img {
  display: block;
  object-position: center;
  width: 100%;
  height: 300px;
}
.menu h1 {
  padding-top: 40px;
  display: flex;
  padding-left: 30px;
  position: relative;
}

.round--violetRose {
  margin: 10px 0px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 200px;
  padding: 20px 40px;
  color: white;
  border: none;
  box-shadow: 0px 5px 3px 2px rgb(207, 207, 207);
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}
.round--violetRose:hover {
  opacity: 70%;
  box-shadow: 0px 5px 3px 2px rgb(114, 114, 114);
  transition: 800ms;
}

footer {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 10px;
}
footer .logo-footer {
  margin-left: 0px;
  font-size: larger;
  padding-bottom: 10px;
}
footer a {
  margin-top: 5px;
  color: white;
  display: block;
  padding-left: 20px;
  width: 220px;
}
footer a:hover {
  text-decoration: underline;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  padding-right: 9px;
}
@media (min-width: 990px) {
  footer .about {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
  }
}

@keyframes spin {
  0% {
    transform: rotate(-380deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes loader {
  to {
    visibility: hidden;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delay-1 {
  animation: appear 1.5s;
}

.delay-2 {
  animation: appear 3s;
}

.delay-3 {
  animation: appear 4.5s;
}

.delay-4 {
  animation: appear 6s;
}

.delay-5 {
  animation: appear 7.5s;
}

.delay-6 {
  animation: appear 9s;
}

.delay-7 {
  animation: appear 10.5s;
}

.delay-8 {
  animation: appear 12s;
}

.delay-9 {
  animation: appear 13.5s;
}

.delay-10 {
  animation: appear 15s;
}

.menu .menu-block {
  padding-bottom: 60px;
  margin-top: -45px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
}
.menu .menu-block .restaurant__title .fa-heart {
  margin-top: -50px;
  margin-left: 85%;
}
.menu .menu-block .menu-card__title, .menu .menu-block .menu-dish {
  margin-left: 20px;
  margin-right: 20px;
}
.menu .menu-block .menu-card__title h3 {
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0px 5px 0px 0px #99E2D0;
  width: 50px;
  margin-left: -10px;
}
.menu .menu-block .fa-check-circle {
  color: transparent;
}
.menu .menu-block .menu-card {
  background-color: white;
  width: 100%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.menu .menu-block .menu-card .menu-card__price {
  font-weight: bold;
  display: flex;
  margin-left: auto;
  margin-bottom: -20px;
  margin-right: 10px;
}
.menu .menu-block .menu-card h3, .menu .menu-block .menu-card .visible {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .menu-block .menu-card .visible {
  margin-top: -10px;
}
.menu .menu-block .menu-card .menu-card__description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -4px;
  margin-bottom: -4px;
  margin-left: 10px;
}
.menu .menu-block .button-restaurant {
  text-align: center;
  margin-top: 30px;
}

.entree, .dish, .dessert {
  padding-top: 20px;
}

@media (min-width: 950px) {
  .menu-dish {
    display: flex;
  }
  .menu-dish .entree, .menu-dish .dish, .menu-dish .dessert {
    padding-right: 20px;
    grid-template-columns: repeat(1, 0);
    grid-auto-rows: 100px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.loader {
  background-color: white;
  opacity: 0.7;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation-name: loader;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  place-items: center;
  font-size: 100px;
  display: grid;
}
.loader i {
  color: #9356DC;
  font-size: 100px;
}

.return {
  display: flex;
  font-size: x-large;
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
}

.menu-card:hover .validate {
  display: flex;
  background-color: #99E2D0;
  justify-content: right;
  text-align: right;
  transition: 1s;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 13px;
  height: 77px;
}
.menu-card:hover .fa-check-circle {
  font-size: xx-large;
  color: white;
  animation: spin 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.functioning-box__text {
  display: flex;
  width: 80%;
  height: 70px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border-radius: 200px;
  justify-content: left;
  list-style-type: none;
  box-shadow: 0px 5px 3px 2px rgb(207, 207, 207);
  align-items: center;
  cursor: pointer;
}

.functioning {
  margin-top: 50px;
  padding-bottom: 60px;
}

.functioning-block {
  display: flex;
  flex-direction: column;
}
.functioning-block .functioning-box {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.functioning-block .functioning-box .functioning-box__number {
  display: flex;
  margin-left: -10px;
  background-color: #9356DC;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.functioning-block .functioning-box div:hover {
  opacity: 70%;
  box-shadow: 0px 5px 3px 2px rgb(114, 114, 114);
  transition: 800ms;
  background-color: white;
}
.functioning-block .functioning-box i {
  margin-left: 30px;
  margin-right: 20px;
}

.restaurant {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 60px;
}
.restaurant .restaurant-card {
  margin: 0px 20px;
  gap: 50px;
  display: grid;
}
@media (min-width: 767px) {
  .restaurant .restaurant-card {
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
  }
}
.restaurant .restaurant-card .card {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 5px 3px 2px rgb(207, 207, 207);
}
.restaurant .restaurant-card .card:hover {
  opacity: 70%;
  box-shadow: 0px 5px 3px 2px rgb(114, 114, 114);
  transition: 800ms;
}
.restaurant .restaurant-card .card img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurant .restaurant-card .card .restaurant-card__description {
  margin-left: 15px;
}
.restaurant .restaurant-card .card .restaurant-card__description h3 {
  margin-top: 10px;
}
.restaurant .restaurant-card .card .restaurant-card__description p {
  margin-top: -15px;
}
.restaurant .restaurant-card .card .restaurant-card__description .fa-heart {
  right: 20px;
  top: 175px;
}

.fa-heart {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
}

.heart-invisible {
  opacity: 0;
  color: transparent;
}

.heart-invisible:hover {
  opacity: 1;
  transition: all 2s;
  border: transparent;
}

.fa-heart:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  border: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.localization {
  display: flex;
  padding: 1px;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
}
.localization i {
  padding-right: 20px;
  font-weight: bolder;
  font-size: x-large;
}
.localization p {
  font-weight: 300;
  font-size: larger;
}

.research-block {
  padding: 1px;
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 30px;
}

.card-new::before {
  background-color: #99E2D0;
  color: #1c9c7c;
  display: grid;
  content: "Nouveau";
  position: absolute;
  padding: 5px;
  right: 10px;
  top: 10px;
}

/*# sourceMappingURL=style.css.map */
