@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  object-fit: cover;
}

main {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

h1, .logo {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

.header-accueil {
  text-align: center;
  box-shadow: 0px 5px 3px 1px rgb(207, 207, 207);
  position: relative;
}
.header-accueil img {
  padding-bottom: 10px;
  width: 45%;
  height: 50%;
  max-width: 300px;
  margin-top: 15px;
  cursor: pointer;
}

.round {
  margin: 10px 0px;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border-radius: 200px;
  padding: 20px 40px;
  color: white;
  border: none;
  box-shadow: 0px 5px 3px 2px rgb(207, 207, 207);
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}
.round:hover {
  opacity: 70%;
  box-shadow: 0px 5px 3px 2px rgb(114, 114, 114);
  transition: 800ms;
}

.fa-heart {
  position: absolute;
  font-size: 25px;
  cursor: pointer;
}

.coeur {
  color: transparent;
}

.fa-heart:hover {
  transition: 2s;
  transform: scale(1.3);
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
}

.nom-restaurant .fa-heart {
  margin-top: -50px;
  margin-left: 82%;
}

.new::before {
  background-color: #99E2D0;
  color: #1c9c7c;
  display: grid;
  content: "Nouveau";
  position: absolute;
  padding: 5px;
  right: 10px;
  top: 10px;
}

.position {
  display: flex;
  padding: 1px;
  background-color: rgb(234, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
}
.position i {
  padding-right: 20px;
  font-weight: bolder;
  font-size: x-large;
}
.position p {
  font-weight: 300;
  font-size: larger;
}

.reservez {
  padding: 1px;
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 30px;
}

.restaurants {
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 60px;
}
.restaurants h2 {
  margin-left: 20px;
}
.restaurants .restaurants__card {
  margin: 0px 20px;
  gap: 50px;
  display: grid;
}
@media (min-width: 767px) {
  .restaurants .restaurants__card {
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
  }
}
.restaurants .restaurants__card a {
  box-shadow: 0px 5px 3px 2px rgb(207, 207, 207);
}
.restaurants .restaurants__card a:hover {
  opacity: 70%;
  box-shadow: 0px 5px 3px 2px rgb(114, 114, 114);
  transition: 800ms;
}
.restaurants .restaurants__card .card {
  position: relative;
  border-radius: 20px;
}
.restaurants .restaurants__card .card img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants .restaurants__card .card .card__description {
  margin-left: 15px;
}
.restaurants .restaurants__card .card .card__description h3 {
  margin-top: 10px;
}
.restaurants .restaurants__card .card .card__description p {
  margin-top: -15px;
}
.restaurants .restaurants__card .card .card__description .fa-heart {
  right: 20px;
  top: 175px;
}

footer {
  background-color: black;
  padding-bottom: 20px;
  padding-top: 10px;
}
footer .logo {
  margin-left: 0px;
  font-size: larger;
}
footer a {
  margin-top: 5px;
  color: white;
  display: block;
  padding-left: 20px;
  width: 220px;
}
footer a:hover {
  text-decoration: underline;
}
footer .fa-utensils {
  padding-right: 15px;
}
footer .fa-handshake-angle {
  padding-right: 9px;
}
@media (min-width: 990px) {
  footer .fin {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
  }
}

.case-acceuil {
  display: flex;
  width: 80%;
  height: 70px;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  border-radius: 200px;
  justify-content: left;
  list-style-type: none;
  box-shadow: 0px 5px 3px 2px rgb(207, 207, 207);
  align-items: center;
  cursor: pointer;
}

.fonctionnement {
  margin-top: 50px;
  padding-bottom: 60px;
}
.fonctionnement h2 {
  margin-left: 35px;
}

.all-menu {
  display: flex;
  flex-direction: column;
}
.all-menu .step {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-menu .step span {
  display: flex;
  margin-left: -10px;
  background-color: #9356DC;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.all-menu .step div:hover {
  opacity: 70%;
  box-shadow: 0px 5px 3px 2px rgb(114, 114, 114);
  transition: 800ms;
  background-color: white;
}
.all-menu .step i {
  margin-left: 30px;
  margin-right: 20px;
}

.nom-restaurant {
  background-color: #f6f6f6;
}
.nom-restaurant img {
  display: block;
  object-position: center;
  width: 100%;
  height: 300px;
}
.nom-restaurant .page-restaurant {
  padding-bottom: 60px;
  margin-top: -45px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  position: relative;
}
.nom-restaurant .page-restaurant .titre-restaurant, .nom-restaurant .page-restaurant .menu {
  margin-left: 20px;
  margin-right: 20px;
}
.nom-restaurant .page-restaurant .button-restaurant {
  text-align: center;
  margin-top: 30px;
}
.nom-restaurant .page-restaurant h1 {
  padding-top: 40px;
  display: flex;
  padding-right: 0px;
  position: relative;
}

.repas h3 {
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0px 5px 0px 0px #99E2D0;
  width: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(-380deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  to {
    visibility: hidden;
  }
}
.nom-restaurant .card {
  background-color: white;
  width: 100%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.nom-restaurant .card .price {
  font-weight: bold;
  display: flex;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.nom-restaurant .card i {
  color: transparent;
}
.nom-restaurant .card h3, .nom-restaurant .card .visible {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nom-restaurant .card .visible {
  margin-top: -10px;
}
.nom-restaurant .card .description-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: 10px;
}
.nom-restaurant .card:hover .validate {
  display: flex;
  background-color: #99E2D0;
  padding: 19px 30px;
  justify-content: right;
  text-align: right;
  transition: 1s;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.nom-restaurant .card:hover .fa-check-circle {
  font-size: xx-large;
  color: white;
  animation: spin 1s ease;
}
@media (min-width: 950px) {
  .nom-restaurant .menu {
    display: flex;
  }
  .nom-restaurant .menu .entree, .nom-restaurant .menu .plat, .nom-restaurant .menu .dessert {
    padding-right: 20px;
    grid-template-columns: repeat(1, 0);
    grid-auto-rows: 100px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.card.delay-1 {
  animation: appear 1s;
}

.card.delay-2 {
  animation: appear 2s;
}

.card.delay-3 {
  animation: appear 3s;
}

.card.delay-4 {
  animation: appear 4s;
}

.card.delay-5 {
  animation: appear 5s;
}

.card.delay-6 {
  animation: appear 6s;
}

.card.delay-7 {
  animation: appear 7s;
}

.card.delay-8 {
  animation: appear 8s;
}

.card.delay-9 {
  animation: appear 9s;
}

.card.delay-10 {
  animation: appear 10s;
}

.header-restaurant {
  display: flex;
}
.header-restaurant .header-site {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.header-restaurant .header-site img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  cursor: pointer;
  margin-top: 20px;
}
.header-restaurant i {
  display: flex;
  font-size: x-large;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
}

.loader {
  background-color: white;
  opacity: 0.7;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  animation-name: loader;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  place-items: center;
  font-size: 100px;
  display: grid;
}
.loader i {
  color: #9356DC;
  font-size: 100px;
}

/*# sourceMappingURL=style.css.map */
