@import"../utils/colors.scss";
.fa-heart{position: absolute;
    font-size: 25px;
    cursor: pointer;
}
.coeur{
  color: transparent;
}
    .fa-heart:hover{
        transition: 2s;
        transform:scale(1.3) ;       
         background-image: linear-gradient($rose,$violet);
         background-clip: text;
         -webkit-background-clip: text;
         color: transparent;
    }

.nom-restaurant{
  .fa-heart{
    margin-top: -50px;
   margin-left: 82%;
}
}