@import"../utils/colors.scss";
.fa-heart{position: absolute;
    font-size: 25px;
}
.coeur{
  color: transparent;
}


    
    .fa-solid:hover{
        transition: 2s;
        scale:1.3 ;       
         background-image: linear-gradient($rose,$violet);
            background-clip: text;
    }