
@import"../utils/colors.scss";
.fonctionnement{margin-top: 50px;
    padding-bottom: 60px;
}
.all-menu{display: flex;
    flex-direction: column;

    .step {display: flex;
        text-align: center;
    justify-content: center;
    align-items: center;
    
    span {display: flex;
        margin-left: -10px;
        background-color:$violet;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        color: white;
    }
    div:hover{
        @include hover;
        background-color: white;
    }
        i{
            margin-left: 30px;
            margin-right: 20px;
        }
    }
 }
