@import"../utils/mixin.scss";
@import"../utils/colors.scss";

//section localisation et exploration

 .localization{
    display: flex;
    padding: 10px;
    background-color: rgb(234, 234, 234);
    @include center;
     i{
    font-weight: bolder;
    font-size:large;
    margin-top: 8px;
    margin-right: 5px;
    }
     input{
    font-weight: 300;
    font-size: larger;
    background-color: rgb(234, 234, 234);
    text-decoration: none;
    border: none;
    margin-top: 10px;
    height: 20px;
    text-align: center;
    width:170px;
}

}
.research-block{
    padding: 1px;
    background-color:#f6f6f6;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 0;
    h1{
        font-weight: bold;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
    }
    p{font-size: 15px;
        margin-top: -10px;
    }
}



