@import"../utils/mixin.scss";
@import"../utils/colors.scss";

//section localisation et exploration

 .localization{
    display: flex;
    padding: 1px;
    background-color: rgb(234, 234, 234);
    @include center;
     i{
    padding-right: 20px;
    font-weight: bolder;
    font-size:x-large;}
     p{
    font-weight: 300;
    font-size: larger;}
}
.research-block{
    padding: 1px;
    background-color:#f6f6f6;
    text-align: center;
    padding-bottom: 30px;
}



