
@keyframes spin{
    0%{
        transform: rotate(-380deg);
    }
    100%{
        transform: rotate(0);
    }
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{opacity: 1;
    }
}

@keyframes loader{
    to{
        visibility: hidden;
    
    }
    from{
      
       
    }
}
@for $i from 1 through 10 {
    .menu__card.delay-#{$i} {
     
     animation: appear 1.5s*$i ;
    }
  }
