@import"../utils/colors.scss";
@import"../utils/animation.scss";
@import"../utils/mixin.scss";
.nom-restaurant{
        .card{
            background-color: white;
            width: 100%;
            @include shadow-case;
            
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            border-radius: 20px;
            cursor: pointer;
    
            .price{font-weight: bold;
             display: flex;
             margin-left: auto;
             @include center;
             margin-right: 10px;
            }
            i{
              color: transparent;
             
            }
            h3,.visible{
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          .visible{
            margin-top: -10px;
          }
            .description-card{
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
             margin-top: -8px;
             margin-bottom: -8px;
             margin-left: 10px;
            }
        }
        .card:hover{
          .validate{display: flex;
            background-color: $vert-claire;
            padding: 19px 30px;
            justify-content: right;
            text-align: right;
            transition: 1s;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            
          }
          .fa-check-circle{
            font-size:xx-large;
            color: white;
            animation: spin 1s ease;
          }
        }
        @media ( min-width:950px ){
         .menu{
              display: flex;
              
              .entree,.plat,.dessert{
                padding-right: 20px;
                grid-template-columns: repeat(1, 0);
                grid-auto-rows: 100px;
                width: 100%;
                text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              
              } 
              
        }
        }  
      }
      
      @for $i from 1 through 10 {
        .card.delay-#{$i} {
         
         animation: appear 1s*$i ;
        }
      }
     