footer{
    background-color: black;
    padding-bottom: 20px;
    padding-top: 10px;
    .logo-footer{
        margin-left:0px;
        font-size:larger;
        padding-bottom: 10px;
    }
   ul{
    padding-left:0 ;
    
   }
    a{
        margin-top: 5px;
        color: white;
        display: block;
        padding-left: 20px;
        width: 200px;
    }

    a:hover{
        text-decoration: underline;
    }
    .fa-utensils{
        padding-right: 15px;
    }
    .fa-handshake-angle{
        padding-right: 9px;
    }
    @media ( min-width:990px ){
       ul {     display: grid;
        grid-template-columns: repeat(4, 22%);
        justify-content: center;
    }
}
}