@import"../utils/mixin.scss";
@import"../utils/colors.scss";

//header accueil
.logo-header{display: flex;
    align-items: center;
 .logo__restaurant{
    margin-left: auto;
    margin-right: auto;
    @include center;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 30px;
      img{display: block;
            width: 100%;
            height: 100%;
            max-width: 200px;
            cursor: pointer;
            }
    }
}
.acceuil{
    box-shadow: 0px 5px 3px 1px rgb(207, 207, 207);
    position: relative;
    
    margin: 0px 0;
    
}

//header restaurant
.menu{
    img{display: block;
        object-position: center;
        width: 100%;
        height: 300px;
        
    }
}
