.header-accueil{
    text-align: center;
    margin-top: 15px  ;
    box-shadow: 0px 5px 3px 1px rgb(207, 207, 207);
    position: relative;
        img{padding-bottom: 10px;
     width: 45%;
     height: 50%;
     max-width: 300px;
 }
}
