@import"../utils/colors.scss";
@import"../utils/mixin.scss";
@import"../utils/colors.scss";
@import"../utils/animation.scss";

// menu du restaurant choisis
.menu{
    .menu-card{
        background-color: white;
        width: 100%;
        @include shadow-case;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 20px;
        cursor: pointer;

        .menu-card__price{font-weight: bold;
         display: flex;
         margin-left: auto;
         @include center;
         margin-right: 10px;
        }
        .fa-check-circle{
          color: transparent;
         
        }
        h3,.visible{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      .visible{
        margin-top: -10px;
      }
        .menu-card__description{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin-top: -4px;
          margin-bottom: -4px;
         margin-left: 10px;
        }
    }
    
    @media ( min-width:950px ){
     
      .menu-dish{display: flex;
      
      .entree,.dish,.dessert{
        padding-right: 20px;
        grid-template-columns: repeat(1, 0);
        grid-auto-rows: 100px;
        width: 100%;
        text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      
      } 
    }
}

}  
.entree,.dish,.dessert{
    padding-top: 20px;
  }