@import"../utils/mixin.scss";
 /*******/
/*card restaurant index*/
/*******/
.restaurant{background-color:#f6f6f6;
    padding-top: 20px;
    padding-bottom: 60px;

.restaurant__card{
    margin:0px 20px;
    gap: 50px;
    display: grid;

    @media ( min-width:767px ){
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
    }

    .card{position: relative;
    border-radius: 20px;
    @include shadow;
    &:hover{
        @include hover;
    }
    
    img{
       width: 100%;
       height: 150px;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
      
    }
    .restaurant__description{     
        margin-left: 15px;
        h3{
          margin-top: 10px;
      }
      p{
          margin-top: -15px;
      }
}
}
}}