@import"../utils/colors.scss";
@import"../utils/mixin.scss";
@import"../utils/colors.scss";
@import"../utils/animation.scss";

// menu du restaurant choisis
.menu{background-color: #f6f6f6;
  .menu-block{padding-bottom: 60px;
    margin-top: -45px;
    border-radius: 30px 30px 0 0 ;
    position: relative;
    .restaurant__title{
      .fa-heart{
        margin-top: -50px;
       margin-left: 85%;
    }
    }
    .menu-card__title,.menu-dish{
        margin-left: 20px;
        margin-right: 20px;
    }
    //entrer plat dessert
    .menu-card__title
       h3{font-weight: 400;
                text-transform: uppercase;
                box-shadow:0px 5px 0px 0px $vert-claire ;
                width: 50px;
                }
    .fa-check-circle{
          color: transparent;
        }
    .menu-card{
        background-color: white;
        width: 100%;
        @include shadow-case;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 20px;
        cursor: pointer;

        .menu-card__price{font-weight: bold;
         display: flex;
         margin-left: auto;
         @include center;
         margin-right: 10px;
        }
        
        h3,.visible{
          @include text;
        }
      .visible{
        margin-top: -10px;
      }
      
        .menu-card__description{
          @include text;
          margin-top: -4px;
          margin-bottom: -4px;
         margin-left: 10px;
        }
      }
      .button-restaurant{text-align: center;
        margin-top: 30px;
      }
    }}

  .entree,.dish,.dessert{
    padding-top: 20px;
  }
    
    @media ( min-width:950px ){
     
      .menu-dish{display: flex;
      
      .entree,.dish,.dessert{
        padding-right: 20px;
        grid-template-columns: repeat(1, 0);
        grid-auto-rows: 100px;
        width: 100%;
        @include text;
      
      } 
    }
}


